openapi: 3.0.3
info:
  title: TMWE ERP Email API
  description: Email management API for TMWE ERP system
  version: 2.0.0
  contact:
    name: TMWE API Support
    url: https://findair.it
  license:
    name: Proprietary

servers:
  - url: https://findair.it/erp/tmwe_json
    description: TMWE ERP Email API Server

security:
  - ApiKeyAuth: []
  - OAuth2: []

paths:
  /app.php?action=get_email_list:
    post:
      tags:
        - Email List
      summary: Get email list
      description: Retrieves a list of emails from a specific folder
      requestBody:
        description: Email list request parameters
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                folder:
                  type: string
                  description: Email folder name
                  default: INBOX
                criteria:
                  type: string
                  description: Search criteria
                  default: ALL
                offset:
                  type: integer
                  description: Email number to start from
                  default: 0
                limit:
                  type: integer
                  description: Maximum number of emails to return
                  default: 10
      responses:
        '200':
          description: Email list retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/EmailListItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  //app.php?action=get_email:
    post:
      tags:
        - Email Detail
      summary: Get specific email
      description: Retrieves details of a specific email by UID
      requestBody:
        description: Email detail request parameters
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - uid
              properties:
                uid:
                  type: string
                  description: Email UID
      responses:
        '200':
          description: Email details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    $ref: '#/components/schemas/EmailDetail'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  //app.php?action=email_account:
    post:
      tags:
        - Email Account
      summary: Gestión de cuenta de email
      description: Realiza operaciones sobre la cuenta de email del usuario
      requestBody:
        description: Email account request parameters
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - handler
              properties:
                handler:
                  type: string
                  description: Acción a realizar
                  enum: [test_connection, get_account_info, get_quota]
                imap_port:
                  type: integer
                  description: Puerto IMAP
                  default: 993
                imap_use_ssl:
                  type: boolean
                  description: Usar SSL para IMAP
                  default: false
                imap_use_tls:
                  type: boolean
                  description: Usar TLS para IMAP
                  default: true
                smtp_port:
                  type: integer
                  description: Puerto SMTP
                  default: 587
                smtp_use_ssl:
                  type: boolean
                  description: Usar SSL para SMTP
                  default: false
                smtp_use_tls:
                  type: boolean
                  description: Usar TLS para SMTP
                  default: true
      responses:
        '200':
          description: Operación realizada correctamente
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ConnectionTest'
                  - $ref: '#/components/schemas/AccountInfo'
                  - $ref: '#/components/schemas/QuotaInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /app.php?action=email_sync:
    post:
      tags:
        - Email Sync
      summary: Sincronización de emails
      description: Sincroniza emails desde el servidor IMAP
      requestBody:
        description: Email sync request parameters
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - handler
              properties:
                handler:
                  type: string
                  description: Tipo de sincronización
                  enum: [full_sync, incremental_sync, sync_folder, get_sync_status, cancel_sync]
                folder_name:
                  type: string
                  description: Nombre de carpeta (para sync_folder)
                folders:
                  type: string
                  description: Lista de carpetas a sincronizar
                date_from:
                  type: string
                  format: date-time
                  description: Fecha desde (formato ISO 8601)
                date_to:
                  type: string
                  format: date-time
                  description: Fecha hasta (formato ISO 8601)
                last_sync_date:
                  type: string
                  format: date-time
                  description: Fecha de última sincronización
      responses:
        '200':
          description: Sincronización iniciada o completada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  //app.php?action=email_message:
    post:
      tags:
        - Email Messages
      summary: Gestión de mensajes de email
      description: Realiza operaciones sobre mensajes de email
      requestBody:
        description: Email message request parameters
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - handler
              properties:
                handler:
                  type: string
                  description: Acción a realizar
                  enum: [get_messages, get_message, search_messages, get_attachment, send_message, reply_message, forward_message, delete_messages, move_messages, mark_messages]
                uid:
                  type: string
                  description: UID del mensaje (para get_message, get_attachment)
                attachment_id:
                  type: string
                  description: ID del attachment (para get_attachment)
                folder:
                  type: string
                  description: Carpeta de email
                  default: INBOX
                limit:
                  type: integer
                  description: Límite de mensajes
                offset:
                  type: integer
                  description: Offset de mensajes
                include_attachments:
                  type: boolean
                  description: Incluir información de attachments
                format:
                  type: string
                  description: Formato del mensaje
                  enum: [text, html]
                  default: text
                search_from:
                  type: string
                  description: Búsqueda por remitente
                search_to:
                  type: string
                  description: Búsqueda por destinatario
                search_subject:
                  type: string
                  description: Búsqueda por asunto
                search_body:
                  type: string
                  description: Búsqueda por contenido
                search_date_from:
                  type: string
                  format: date
                  description: Búsqueda desde fecha
                search_date_to:
                  type: string
                  format: date
                  description: Búsqueda hasta fecha
                search_unread:
                  type: boolean
                  description: Búsqueda solo no leídos
                # Campos para send_message
                to:
                  type: string
                  description: Destinatarios (para envío, reenvío)
                cc:
                  type: string
                  description: Destinatarios en copia
                bcc:
                  type: string
                  description: Destinatarios en copia oculta
                subject:
                  type: string
                  description: Asunto del mensaje
                body:
                  type: string
                  description: Cuerpo del mensaje
                body_html:
                  type: string
                  description: Cuerpo del mensaje en HTML
                attachments:
                  type: array
                  description: Archivos adjuntos
                  items:
                    type: object
                    properties:
                      filename:
                        type: string
                      content:
                        type: string
                        format: base64
                # Campos para operaciones
                uids:
                  type: string
                  description: UIDs de mensajes (separados por coma)
                target_folder:
                  type: string
                  description: Carpeta destino (para move_messages)
                expunge:
                  type: boolean
                  description: Eliminar definitivamente
                read:
                  type: boolean
                  description: Marcar como leído
                reply_all:
                  type: boolean
                  description: Responder a todos
      responses:
        '200':
          description: Operación realizada correctamente
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/MessagesResponse'
                  - $ref: '#/components/schemas/MessageDetail'
                  - $ref: '#/components/schemas/SearchResults'
                  - $ref: '#/components/schemas/AttachmentData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'


  //app.php?action=email_folder:
    post:
      tags:
        - Email Folders
      summary: Gestión de carpetas de email
      description: Operaciones completas sobre carpetas de email
      requestBody:
        description: Email folder request parameters
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - handler
              properties:
                handler:
                  type: string
                  description: Acción a realizar
                  enum: [get_folders, get_folder_info, get_folder_tree, create_folder, delete_folder, rename_folder, subscribe_folder, unsubscribe_folder, empty_folder]
                folder_name:
                  type: string
                  description: Nombre de la carpeta
                hierarchy:
                  type: boolean
                  description: Incluir jerarquía en get_folders
                include_counts:
                  type: boolean
                  description: Incluir contadores en get_folders
                parent_folder:
                  type: string
                  description: Carpeta padre (para create_folder)
                old_name:
                  type: string
                  description: Nombre anterior (para rename_folder)
                new_name:
                  type: string
                  description: Nuevo nombre (para rename_folder)
                force:
                  type: boolean
                  description: Forzar eliminación (para delete_folder)
                expunge:
                  type: boolean
                  description: Eliminar definitivamente (para empty_folder)
                  default: true
      responses:
        '200':
          description: Operación realizada correctamente
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/FoldersResponse'
                  - $ref: '#/components/schemas/FolderInfo'
                  - $ref: '#/components/schemas/FolderTree'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'


components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: "{server}?action=auth"
          tokenUrl: "{server}?action=token"
          revokeUrl: "{server}?action=revoke"
          introspectionUrl: "{server}?action=introspect"
          scopes:
            read: Email reading permissions
            write: Email writing permissions
            admin: Email account administration

  schemas:
    EmailListItem:
      type: object
      properties:
        uid:
          type: string
          description: UID único del email
        subject:
          type: string
          description: Asunto del email
        from:
          type: string
          description: Remitente del email
        date:
          type: string
          format: date-time
          description: Fecha del email
        size:
          type: integer
          description: Tamaño del email en bytes
        seen:
          type: boolean
          description: Si el email ha sido leído
        flagged:
          type: boolean
          description: Si el email está marcado
        answered:
          type: boolean
          description: Si el email ha sido respondido

    EmailDetail:
      type: object
      properties:
        uid:
          type: string
          description: UID único del email
        subject:
          type: string
          description: Asunto del email
        from:
          type: string
          description: Remitente del email
        to:
          type: string
          description: Destinatarios del email
        cc:
          type: string
          description: Destinatarios en copia
        bcc:
          type: string
          description: Destinatarios en copia oculta
        date:
          type: string
          format: date-time
          description: Fecha del email
        body:
          type: string
          description: Cuerpo del email en texto plano
        body_html:
          type: string
          description: Cuerpo del email en HTML
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/Attachment'
        headers:
          type: object
          description: Headers completos del email

    Attachment:
      type: object
      properties:
        id:
          type: string
          description: ID del attachment
        filename:
          type: string
          description: Nombre del archivo
        size:
          type: integer
          description: Tamaño en bytes
        mime_type:
          type: string
          description: Tipo MIME del archivo

    ConnectionTest:
      type: object
      properties:
        success:
          type: boolean
        imap_connection:
          type: boolean
          description: Conexión IMAP exitosa
        smtp_connection:
          type: boolean
          description: Conexión SMTP exitosa
        message:
          type: string
          description: Mensaje de estado

    AccountInfo:
      type: object
      properties:
        success:
          type: boolean
        username:
          type: string
          description: Nombre de usuario de email
        server:
          type: string
          description: Servidor de email
        capabilities:
          type: array
          items:
            type: string
          description: Capacidades del servidor

    QuotaInfo:
      type: object
      properties:
        success:
          type: boolean
        used:
          type: integer
          description: Espacio usado en bytes
        limit:
          type: integer
          description: Límite de espacio en bytes
        percentage:
          type: number
          format: float
          description: Porcentaje de uso

    SyncResult:
      type: object
      properties:
        success:
          type: boolean
        status:
          type: string
          enum: [started, in_progress, completed, cancelled, error]
        messages_synced:
          type: integer
          description: Número de mensajes sincronizados
        folders_synced:
          type: integer
          description: Número de carpetas sincronizadas
        progress:
          type: number
          format: float
          description: Progreso de sincronización (0-100)

    MessagesResponse:
      type: object
      properties:
        success:
          type: boolean
        messages:
          type: array
          items:
            $ref: '#/components/schemas/EmailListItem'
        total:
          type: integer
          description: Total de mensajes en la carpeta
        count:
          type: integer
          description: Número de mensajes devueltos

    MessageDetail:
      type: object
      properties:
        success:
          type: boolean
        message:
          $ref: '#/components/schemas/EmailDetail'

    SearchResults:
      type: object
      properties:
        success:
          type: boolean
        results:
          type: array
          items:
            $ref: '#/components/schemas/EmailListItem'
        total:
          type: integer
          description: Total de resultados encontrados

    AttachmentData:
      type: object
      properties:
        success:
          type: boolean
        filename:
          type: string
        content:
          type: string
          format: base64
          description: Contenido del archivo en base64
        mime_type:
          type: string

    MessageData:
      type: object
      required:
        - to
        - subject
        - body
      properties:
        to:
          type: string
          description: Destinatarios (separados por coma)
        cc:
          type: string
          description: Destinatarios en copia
        bcc:
          type: string
          description: Destinatarios en copia oculta
        subject:
          type: string
          description: Asunto del mensaje
        body:
          type: string
          description: Cuerpo del mensaje en texto plano
        body_html:
          type: string
          description: Cuerpo del mensaje en HTML
        attachments:
          type: array
          items:
            type: object
            properties:
              filename:
                type: string
              content:
                type: string
                format: base64

    ReplyData:
      type: object
      required:
        - body
      properties:
        body:
          type: string
          description: Cuerpo de la respuesta
        body_html:
          type: string
          description: Cuerpo de la respuesta en HTML
        reply_all:
          type: boolean
          description: Responder a todos
        attachments:
          type: array
          items:
            type: object
            properties:
              filename:
                type: string
              content:
                type: string
                format: base64

    ForwardData:
      type: object
      required:
        - to
        - body
      properties:
        to:
          type: string
          description: Destinatarios del reenvío
        cc:
          type: string
          description: Destinatarios en copia
        bcc:
          type: string
          description: Destinatarios en copia oculta
        body:
          type: string
          description: Cuerpo del reenvío
        body_html:
          type: string
          description: Cuerpo del reenvío en HTML
        attachments:
          type: array
          items:
            type: object
            properties:
              filename:
                type: string
              content:
                type: string
                format: base64

    FoldersResponse:
      type: object
      properties:
        success:
          type: boolean
        folders:
          type: array
          items:
            $ref: '#/components/schemas/FolderInfo'

    FolderInfo:
      type: object
      properties:
        name:
          type: string
          description: Nombre de la carpeta
        full_name:
          type: string
          description: Nombre completo con jerarquía
        delimiter:
          type: string
          description: Delimitador de jerarquía
        attributes:
          type: array
          items:
            type: string
          description: Atributos de la carpeta
        message_count:
          type: integer
          description: Número de mensajes
        unseen_count:
          type: integer
          description: Número de mensajes no leídos
        recent_count:
          type: integer
          description: Número de mensajes recientes

    FolderTree:
      type: object
      properties:
        success:
          type: boolean
        tree:
          type: object
          description: Árbol jerárquico de carpetas

    OperationResult:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
          description: Mensaje de resultado
        affected:
          type: integer
          description: Número de elementos afectados

    SendMessageRequest:
      type: object
      required:
        - handler
        - to
        - subject
        - body
      properties:
        handler:
          type: string
          enum: [send_message]
        to:
          type: string
          description: Destinatarios (separados por coma)
        cc:
          type: string
          description: Destinatarios en copia
        bcc:
          type: string
          description: Destinatarios en copia oculta
        subject:
          type: string
          description: Asunto del mensaje
        body:
          type: string
          description: Cuerpo del mensaje en texto plano
        body_html:
          type: string
          description: Cuerpo del mensaje en HTML
        attachments:
          type: array
          items:
            type: object
            properties:
              filename:
                type: string
              content:
                type: string
                format: base64

    ReplyMessageRequest:
      type: object
      required:
        - handler
        - uid
        - body
      properties:
        handler:
          type: string
          enum: [reply_message]
        uid:
          type: string
          description: UID del mensaje a responder
        body:
          type: string
          description: Cuerpo de la respuesta
        body_html:
          type: string
          description: Cuerpo de la respuesta en HTML
        reply_all:
          type: boolean
          description: Responder a todos
        attachments:
          type: array
          items:
            type: object
            properties:
              filename:
                type: string
              content:
                type: string
                format: base64

    ForwardMessageRequest:
      type: object
      required:
        - handler
        - uid
        - to
        - body
      properties:
        handler:
          type: string
          enum: [forward_message]
        uid:
          type: string
          description: UID del mensaje a reenviar
        to:
          type: string
          description: Destinatarios del reenvío
        cc:
          type: string
          description: Destinatarios en copia
        bcc:
          type: string
          description: Destinatarios en copia oculta
        body:
          type: string
          description: Cuerpo del reenvío
        body_html:
          type: string
          description: Cuerpo del reenvío en HTML
        attachments:
          type: array
          items:
            type: object
            properties:
              filename:
                type: string
              content:
                type: string
                format: base64

    DeleteMessagesRequest:
      type: object
      required:
        - handler
        - uids
      properties:
        handler:
          type: string
          enum: [delete_messages]
        uids:
          type: string
          description: UIDs de mensajes a eliminar (separados por coma)
        expunge:
          type: boolean
          description: Eliminar definitivamente
          default: false

    MoveMessagesRequest:
      type: object
      required:
        - handler
        - uids
        - target_folder
      properties:
        handler:
          type: string
          enum: [move_messages]
        uids:
          type: string
          description: UIDs de mensajes a mover (separados por coma)
        target_folder:
          type: string
          description: Carpeta destino

    MarkMessagesRequest:
      type: object
      required:
        - handler
        - uids
      properties:
        handler:
          type: string
          enum: [mark_messages]
        uids:
          type: string
          description: UIDs de mensajes a marcar (separados por coma)
        read:
          type: boolean
          description: Marcar como leído
          default: true

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          description: Mensaje de error
        code:
          type: string
          description: Código de error

  responses:
    BadRequest:
      description: Solicitud incorrecta
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error: "Parámetros faltantes o incorrectos"
            code: "BAD_REQUEST"

    Unauthorized:
      description: No autorizado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error: "Acceso no autorizado"
            code: "UNAUTHORIZED"

    NotFound:
      description: Recurso no encontrado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error: "Recurso no encontrado"
            code: "NOT_FOUND"

    InternalServerError:
      description: Error interno del servidor
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error: "Error interno del servidor"
            code: "INTERNAL_ERROR"

tags:
  - name: Email List
    description: Operaciones para listar emails
  - name: Email Detail
    description: Obtener detalles de emails específicos
  - name: Email Account
    description: Gestión de cuenta de email
  - name: Email Sync
    description: Sincronización de emails
  - name: Email Messages
    description: Gestión de mensajes de email
  - name: Email Folders
    description: Gestión de carpetas de email

# Changelog
# v2.0.0 (2025-09-29) - BREAKING CHANGES
# - BREAKING: Changed ALL endpoints from GET to POST methods
# - BREAKING: Converted all query parameters to request body (JSON) format
# - Consolidated duplicate endpoint definitions into single endpoints per action
# - Unified all email operations under respective POST endpoints
# - All API calls now use JSON request bodies instead of query parameters
#
# v1.1.0 (2025-09-29)
# - Updated parameter names from 'action' to 'handler' to match actual controller implementation
# - Added IMAP/SMTP configuration parameters (ports, SSL/TLS settings) to email_account endpoint
# - Fixed request body schemas to use 'handler' instead of 'action'
# - Aligned documentation with actual PHP controller code structure