openapi: 3.0.4
info:
  title: TMWE ERP API
  description: |
    Comprehensive REST API for TMWE ERP (Enterprise Resource Planning) system.

    This API provides endpoints for managing logistics operations including:
    - Core resources (countries, airports, currencies, provinces, goods)
    - Courier services (rates, tracking, labels)
    - Shipment management (cargo and express)
    - Google Places integration
    - Address book (rubrica)
    - User profiles
    - Email management
    - AI knowledge base
    - Commercial contacts
    - Real-time cargo requests
    - QR code generation
    - Air waybill (LDV) printing
    - User registration

    ## Authentication
    Most endpoints require OAuth2 authentication via Bearer token in the Authorization header.
    Some endpoints are publicly accessible (marked with security: []).

    See the [OAuth2 API documentation](oauth2-api.yaml) for authentication details.

  version: 2.0.0
  contact:
    name: TMWE API Support
    url: https://findair.it
    email: support@findair.it
  license:
    name: Proprietary

servers:
  - url: https://findair.it/erp/tmwe_json
    description: TMWE ERP Production Server

tags:
  - name: Core
    description: Core system resources (countries, airports, currencies, provinces, goods)
  - name: Courier
    description: Courier services including rates, tracking, and labels
  - name: Shipment
    description: Shipment management for cargo and express deliveries
  - name: Places
    description: Google Places API integration for address lookup
  - name: Rubrica
    description: Address book management
  - name: Profile
    description: User profile management
  - name: Address
    description: Address validation and lookup
  - name: Email
    description: Email account and message management
  - name: AI
    description: Artificial Intelligence knowledge base
  - name: Commercial
    description: Commercial contact management
  - name: Real-time
    description: Real-time cargo request and pricing
  - name: QR Code
    description: QR code generation
  - name: LDV
    description: Air waybill (LDV) generation and printing
  - name: Register
    description: User registration
  - name: Airline
    description: Airline information and dictionary

security:
  - BearerAuth: []

paths:
  # ============================================
  # CORE RESOURCES
  # ============================================
  /get-api-countries:
    get:
      tags:
        - Core
      summary: Get list of countries
      description: Returns a list of all available countries in the system
      operationId: getCountries
      security: []
      responses:
        '200':
          description: Successful response with list of countries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Country'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /get-api-airports:
    get:
      tags:
        - Core
      summary: Get list of airports
      description: |
        Returns a list of airports filtered by country and user's organization.
        Results are sorted by distance from the user's sede (office location).
      operationId: getAirports
      parameters:
        - name: country
          in: query
          description: ISO country code (2 letters)
          required: false
          schema:
            type: string
            default: IT
            example: IT
        - name: departure
          in: query
          description: Filter for departure airports only
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Successful response with list of airports
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Airport'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /get-api-currencies:
    get:
      tags:
        - Core
      summary: Get list of currencies
      description: Returns all available currencies with current exchange rates
      operationId: getCurrencies
      responses:
        '200':
          description: Successful response with list of currencies
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Currency'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /currency_codes:
    get:
      tags:
        - Core
      summary: Get currency codes
      description: Returns list of currency codes
      operationId: getCurrencyCodes
      responses:
        '200':
          description: Successful response with currency codes
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: string
                      example: USD
                    name:
                      type: string
                      example: US Dollar
        '401':
          $ref: '#/components/responses/Unauthorized'

  /get-api-closer-airports:
    get:
      tags:
        - Core
      summary: Get closer airports
      description: Returns airports near a specific location
      operationId: getCloserAirports
      parameters:
        - name: latitude
          in: query
          required: false
          schema:
            type: number
            format: float
        - name: longitude
          in: query
          required: false
          schema:
            type: number
            format: float
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Airport'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /get-api-prov:
    get:
      tags:
        - Core
      summary: Get list of provinces
      description: Returns provinces for a specific country
      operationId: getProvinces
      parameters:
        - name: country
          in: query
          description: ISO country code
          required: false
          schema:
            type: string
            default: IT
      responses:
        '200':
          description: Successful response with provinces
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Province'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /get-api-good-type:
    get:
      tags:
        - Core
      summary: Get types of goods
      description: Returns list of cargo merchandise types
      operationId: getGoodTypes
      security: []
      responses:
        '200':
          description: Successful response with good types
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GoodType'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ============================================
  # COURIER SERVICES
  # ============================================
  /api_rate_shipment:
    post:
      tags:
        - Courier
      summary: Get courier shipping rates
      description: |
        Calculate shipping rates for a courier shipment based on origin, destination,
        packages, and supplements. Can quote either an existing shipment or a new quote request.
      operationId: getCourierRates
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/QuoteRequest'
                - $ref: '#/components/schemas/ExistingShipmentRequest'
      responses:
        '200':
          description: Successful rate calculation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /shipment_tracking:
    get:
      tags:
        - Courier
      summary: Track shipment
      description: |
        Get tracking information for a shipment. Can return either the latest status
        or full tracking history.
      operationId: trackShipment
      parameters:
        - name: shipment_id
          in: query
          required: true
          description: Shipment ID to track
          schema:
            type: string
        - name: show_history
          in: query
          required: false
          description: Return full tracking history
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Tracking information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackingResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /get_label_courier_shipment:
    get:
      tags:
        - Courier
      summary: Get courier shipment label
      description: Retrieve shipping label for a courier shipment
      operationId: getCourierShipmentLabel
      parameters:
        - name: shipment_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Label file
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/NotFound'

  /get_label_file:
    get:
      tags:
        - Courier
      summary: Get label file
      description: Get courier label file
      operationId: getLabelFile
      parameters:
        - name: file_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Label file
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/NotFound'

  /get_label_auxiliar_file:
    get:
      tags:
        - Courier
      summary: Get auxiliary label file
      description: Get auxiliary courier label file
      operationId: getAuxiliarLabelFile
      parameters:
        - name: file_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Auxiliary label file
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # SHIPMENT MANAGEMENT
  # ============================================
  /get-cargo:
    get:
      tags:
        - Shipment
      summary: Get cargo shipments
      description: |
        Retrieve cargo shipments with filtering, pagination, and search capabilities.
        Requires specific permissions (authx_18 or authx_19).
      operationId: getCargoShipments
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/SearchParam'
        - name: filters
          in: query
          description: JSON object with filter criteria
          schema:
            type: string
      responses:
        '200':
          description: List of cargo shipments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /get-express:
    get:
      tags:
        - Shipment
      summary: Get express shipments
      description: |
        Retrieve express shipments with filtering, pagination, and search capabilities.
        Only returns shipments that are not part of cargo consolidations.
        Requires specific permissions (authx_18 or authx_19).
      operationId: getExpressShipments
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/SearchParam'
        - name: filters
          in: query
          description: JSON object with filter criteria
          schema:
            type: string
      responses:
        '200':
          description: List of express shipments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /add_cargo_quote_request:
    post:
      tags:
        - Shipment
      summary: Create cargo quote request
      description: Submit a new cargo shipment quote request
      operationId: createCargoQuote
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CargoQuoteRequest'
      responses:
        '200':
          description: Quote request created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteRequestResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /add_express_quote_request:
    post:
      tags:
        - Shipment
      summary: Create express quote request
      description: Submit a new express shipment quote request
      operationId: createExpressQuote
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpressQuoteRequest'
      responses:
        '200':
          description: Quote request created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteRequestResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /get_services:
    get:
      tags:
        - Shipment
      summary: Get express services
      description: Get available services for express shipments
      operationId: getExpressServices
      responses:
        '200':
          description: List of services
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Service'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /get_services_cargo:
    get:
      tags:
        - Shipment
      summary: Get cargo services
      description: Get available services for cargo shipments
      operationId: getCargoServices
      responses:
        '200':
          description: List of services
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Service'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /print_label:
    get:
      tags:
        - Shipment
      summary: Print express shipment label
      description: Generate and print label for express shipment
      operationId: printExpressLabel
      parameters:
        - name: shipment_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Label document
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/NotFound'

  /print_cargo_label:
    get:
      tags:
        - Shipment
      summary: Print cargo shipment label
      description: Generate and print label for cargo shipment
      operationId: printCargoLabel
      parameters:
        - name: shipment_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Label document
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/NotFound'

  /crm:
    get:
      tags:
        - Shipment
      summary: CRM shipment operations
      description: Customer relationship management for shipments
      operationId: crmOperations
      responses:
        '200':
          description: CRM data
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'

  /get_crm_shipment:
    get:
      tags:
        - Shipment
      summary: Get CRM shipment data
      description: Get customer data for a specific shipment
      operationId: getCrmShipment
      parameters:
        - name: shipment_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: CRM shipment data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrmShipmentData'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # PLACES
  # ============================================
  /find_place:
    get:
      tags:
        - Places
      summary: Find place by input
      description: |
        Search for places using Google Places API Find Place endpoint.
        Returns place predictions based on input text.
      operationId: findPlace
      parameters:
        - name: input
          in: query
          required: true
          description: Text input for place search
          schema:
            type: string
            example: "Via Roma, Milano"
      responses:
        '200':
          description: Place search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /find_place_text_search:
    get:
      tags:
        - Places
      summary: Text search for places
      description: Perform text-based search for places
      operationId: findPlaceTextSearch
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /find_place_detail:
    get:
      tags:
        - Places
      summary: Get place details
      description: Get detailed information about a specific place
      operationId: getPlaceDetail
      parameters:
        - name: place_id
          in: query
          required: true
          description: Google Place ID
          schema:
            type: string
      responses:
        '200':
          description: Place details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # RUBRICA (ADDRESS BOOK)
  # ============================================
  /rubrica_search:
    get:
      tags:
        - Rubrica
      summary: Search address book
      description: |
        Search addresses in the user's address book (rubrica).
        Supports pagination and sorting.
      operationId: searchRubrica
      parameters:
        - name: text
          in: query
          required: false
          description: Search text
          schema:
            type: string
            default: ""
        - name: order_by
          in: query
          required: false
          description: Field to sort by
          schema:
            type: string
        - name: order
          in: query
          required: false
          description: Sort direction
          schema:
            type: string
            enum: [ASC, DESC]
            default: ASC
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Address book entries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RubricaEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /rubrica_set_preferred:
    post:
      tags:
        - Rubrica
      summary: Set preferred address
      description: Mark an address as preferred in the address book
      operationId: setPreferredAddress
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - rubrica_id
              properties:
                rubrica_id:
                  type: integer
                  description: ID of the address entry
      responses:
        '200':
          description: Address marked as preferred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ============================================
  # PROFILE
  # ============================================
  /get_my_profile:
    get:
      tags:
        - Profile
      summary: Get current user profile
      description: Returns profile information for the authenticated user
      operationId: getMyProfile
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ============================================
  # ADDRESS
  # ============================================
  /cap_city_prov:
    get:
      tags:
        - Address
      summary: Get address info by postal code
      description: |
        Retrieve city, province, and nearby airports based on postal code.
        Uses cached Google Places data when available.
      operationId: getAddressByPostalCode
      security: []
      parameters:
        - name: country
          in: query
          required: true
          description: ISO country code
          schema:
            type: string
            example: IT
        - name: cap
          in: query
          required: true
          description: Postal code (minimum 3 characters)
          schema:
            type: string
            minLength: 3
            example: "20100"
        - name: departure
          in: query
          required: false
          description: Filter for departure airports
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Address information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressInfo'
        '400':
          $ref: '#/components/responses/BadRequest'

  # ============================================
  # EMAIL (Reference to separate documentation)
  # ============================================
  /email_account:
    post:
      tags:
        - Email
      summary: Email account management
      description: Manage email account settings (see email-api.yaml for detailed documentation)
      operationId: manageEmailAccount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - handler
              properties:
                handler:
                  type: string
                  enum: [test_connection, get_account_info, get_quota]
      responses:
        '200':
          description: Operation result
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /email_sync:
    post:
      tags:
        - Email
      summary: Email synchronization
      description: Sync emails from server (see email-api.yaml for detailed documentation)
      operationId: syncEmails
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - handler
              properties:
                handler:
                  type: string
                  enum: [full_sync, incremental_sync, sync_folder, get_sync_status, cancel_sync]
      responses:
        '200':
          description: Sync result
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'

  /email_message:
    post:
      tags:
        - Email
      summary: Email message operations
      description: Operations on email messages (see email-api.yaml for detailed documentation)
      operationId: emailMessageOperations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - handler
              properties:
                handler:
                  type: string
                  enum: [get_messages, get_message, search_messages, send_message, reply_message, forward_message, delete_messages, move_messages, mark_messages]
      responses:
        '200':
          description: Operation result
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /email_folder:
    post:
      tags:
        - Email
      summary: Email folder management
      description: Manage email folders (see email-api.yaml for detailed documentation)
      operationId: manageEmailFolders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - handler
              properties:
                handler:
                  type: string
                  enum: [get_folders, get_folder_info, create_folder, delete_folder, rename_folder]
      responses:
        '200':
          description: Operation result
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ============================================
  # AI KNOWLEDGE BASE
  # ============================================
  /get_knowledge_base:
    get:
      tags:
        - AI
      summary: Get AI knowledge base
      description: |
        Retrieve AI knowledge base categories and content.
        Contains structured information for AI-assisted operations.
      operationId: getKnowledgeBase
      security: []
      responses:
        '200':
          description: Knowledge base content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnowledgeBase'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # COMMERCIAL CONTACTS
  # ============================================
  /api_commercial_contact:
    get:
      tags:
        - Commercial
      summary: Get commercial contacts
      description: |
        Retrieve commercial contacts with advanced filtering, searching, and pagination.
        Supports filtering by multiple metadata fields and customer attributes.
      operationId: getCommercialContacts
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: sort
          in: query
          description: Sort field
          schema:
            type: string
            enum: [id, name, company_alias, created_at, updated_at, next_contact_date]
        - name: order
          in: query
          description: Sort order
          schema:
            type: string
            enum: [ASC, DESC]
            default: DESC
        - name: search
          in: query
          description: Search text across multiple fields
          schema:
            type: string
        - name: filters
          in: query
          description: JSON object with filter criteria
          schema:
            type: string
            example: '{"country":"IT","meta_client":"1"}'
      responses:
        '200':
          description: Commercial contacts list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommercialContactListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ============================================
  # REAL-TIME REQUESTS
  # ============================================
  /real_time_controller:
    post:
      tags:
        - Real-time
      summary: Real-time cargo request
      description: |
        Submit a real-time cargo booking request with origin, destination, packages,
        and pickup requirements. Returns available options and pricing.
      operationId: realtimeRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RealtimeRequest'
      responses:
        '200':
          description: Real-time request result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealtimeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /direct_real_time_response:
    get:
      tags:
        - Real-time
      summary: Direct real-time response
      description: Get direct real-time response for cargo request
      operationId: directRealtimeResponse
      responses:
        '200':
          description: Direct response
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'

  /real_time_check_code_pack:
    post:
      tags:
        - Real-time
      summary: Check package code
      description: Verify package code in real-time
      operationId: realtimeCheckCodePack
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
      responses:
        '200':
          description: Code check result
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'

  /real_time_response:
    get:
      tags:
        - Real-time
      summary: Get real-time response
      description: Retrieve real-time response for a previous request
      operationId: getRealtimeResponse
      parameters:
        - name: request_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Real-time response
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/NotFound'

  /hyper_real_time_controller:
    post:
      tags:
        - Real-time
      summary: Hyper real-time request
      description: Enhanced real-time request with additional features
      operationId: hyperRealtimeRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RealtimeRequest'
      responses:
        '200':
          description: Hyper real-time result
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'

  # ============================================
  # QR CODE
  # ============================================
  /generate_qr:
    get:
      tags:
        - QR Code
      summary: Generate QR code
      description: |
        Generate a QR code for a given text with optional logo.
        Uses RabbitMQ RPC for async generation.
      operationId: generateQrCode
      security: []
      parameters:
        - name: text
          in: query
          required: false
          description: Text to encode in QR code
          schema:
            type: string
            default: https://findair.net/register
        - name: use_logo
          in: query
          required: false
          description: Logo to embed in QR code
          schema:
            type: string
            enum: [findair, none]
            default: findair
      responses:
        '200':
          description: QR code image data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QrCodeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  # ============================================
  # LDV (AIR WAYBILL)
  # ============================================
  /print_ldv:
    get:
      tags:
        - LDV
      summary: Print air waybill (LDV)
      description: |
        Generate and return air waybill document for cargo shipment.
        Returns HTML document ready for printing.
      operationId: printLdv
      security: []
      parameters:
        - name: ldv
          in: query
          required: true
          description: LDV identifier
          schema:
            type: string
        - name: package
          in: query
          required: false
          description: Package number to print
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: LDV document
          content:
            text/html:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /print_ldv_image:
    get:
      tags:
        - LDV
      summary: Print LDV as image
      description: Generate LDV as image format
      operationId: printLdvImage
      parameters:
        - name: ldv
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: LDV image
          content:
            image/png:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # REGISTER
  # ============================================
  /register_user:
    post:
      tags:
        - Register
      summary: Register new user
      description: |
        Register a new user/company in the system. Creates a contact entry
        that will be processed by the sales team.
      operationId: registerUser
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegistration'
      responses:
        '200':
          description: Registration successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success_message:
                    type: string
                    example: Thank you for registering. Our team has received your information and will contact you shortly to complete the process. We look forward to speaking with you.
        '400':
          $ref: '#/components/responses/BadRequest'

  # ============================================
  # AIRLINE
  # ============================================
  /airline-dictionary-controller:
    get:
      tags:
        - Airline
      summary: Get airline dictionary
      description: Returns list of airlines with IATA codes and names
      operationId: getAirlineDictionary
      responses:
        '200':
          description: Airline dictionary
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Airline'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ============================================
  # SUPPLIER/PROVIDER
  # ============================================
  /api_fornitori_spedy_print_label_request:
    post:
      tags:
        - Courier
      summary: Supplier print label request
      description: Request label printing from suppliers/providers
      operationId: supplierPrintLabelRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                shipment_id:
                  type: string
                supplier_id:
                  type: string
      responses:
        '200':
          description: Label request successful
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

# ============================================
# COMPONENTS
# ============================================
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth2
      description: |
        OAuth2 Bearer token authentication.
        Include the access token in the Authorization header as: Bearer {token}

        See oauth2-api.yaml for complete OAuth2 flow documentation.

  parameters:
    PageParam:
      name: page
      in: query
      description: Page number for pagination
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1

    LimitParam:
      name: limit
      in: query
      description: Number of items per page
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

    SortParam:
      name: sort
      in: query
      description: Field to sort by
      required: false
      schema:
        type: string

    OrderParam:
      name: order
      in: query
      description: Sort order
      required: false
      schema:
        type: string
        enum: [ASC, DESC]
        default: ASC

    SearchParam:
      name: search
      in: query
      description: Search term
      required: false
      schema:
        type: string

  schemas:
    # ============================================
    # CORE SCHEMAS
    # ============================================
    Country:
      type: object
      properties:
        iso:
          type: string
          description: ISO 3166-1 alpha-2 country code
          example: IT
        name:
          type: string
          description: Country name
          example: Italy
        nome:
          type: string
          description: Country name (Italian)
          example: Italia

    Airport:
      type: object
      properties:
        sigla:
          type: string
          description: IATA airport code
          example: MXP
        name:
          type: string
          description: Airport name
          example: Milano Malpensa
        country:
          type: string
          description: Country ISO code
          example: IT
        city:
          type: string
          description: City name
          example: Milano
        principal:
          type: boolean
          description: Whether this is a principal airport
        location_latitude:
          type: number
          format: float
          description: Latitude coordinate
        location_longitude:
          type: number
          format: float
          description: Longitude coordinate
        distance_to_sede:
          type: number
          format: float
          description: Distance from user's office in kilometers
        label:
          type: string
          description: Formatted airport label
          example: MXP - Milano Malpensa (Milano)
        default:
          type: boolean
          description: Whether this is the default airport for the location

    Currency:
      type: object
      properties:
        sigla:
          type: string
          description: Currency code
          example: EUR
        nome:
          type: string
          description: Currency name
          example: Euro
        cambioEUR:
          type: number
          format: float
          description: Exchange rate to EUR
          example: 1.0

    Province:
      type: object
      properties:
        id:
          type: integer
        sigla:
          type: string
          description: Province abbreviation
          example: MI
        nome:
          type: string
          description: Province name
          example: Milano
        country:
          type: string
          description: Country ISO code

    GoodType:
      type: object
      properties:
        id:
          type: integer
        code:
          type: string
          description: Good type code
        description:
          type: string
          description: Description of good type
        category:
          type: string
          description: Category of goods

    # ============================================
    # COURIER SCHEMAS
    # ============================================
    QuoteRequest:
      type: object
      required:
        - quote_request
      properties:
        quote_request:
          type: object
          required:
            - shipment
          properties:
            shipment:
              type: object
              required:
                - address_origin
                - address_destination
                - packages
                - shipment_meta
              properties:
                address_origin:
                  $ref: '#/components/schemas/ShipmentAddress'
                address_destination:
                  $ref: '#/components/schemas/ShipmentAddress'
                packages:
                  type: array
                  items:
                    $ref: '#/components/schemas/Package'
                shipment_meta:
                  $ref: '#/components/schemas/ShipmentMeta'
                courier_note:
                  type: string
                  description: Notes for courier
                recipient_note:
                  type: string
                  description: Notes for recipient

    ExistingShipmentRequest:
      type: object
      properties:
        shipment_id:
          type: string
          description: Existing shipment ID to get rates for
        otp:
          type: string
          description: One-time password for shipment access

    ShipmentAddress:
      type: object
      required:
        - cap
        - city
        - prov_short
        - address
        - country
        - name
      properties:
        cap:
          type: string
          description: Postal code
          example: "20100"
        city:
          type: string
          description: City name
          example: Milano
        prov_short:
          type: string
          description: Province abbreviation
          example: MI
        address:
          type: string
          description: Street address
          example: Via Roma 1
        country:
          type: string
          description: Country ISO code
          example: IT
        name:
          type: string
          description: Address name/label
        airport:
          type: string
          description: Nearest airport code
          example: MXP
        telephone:
          type: string
          description: Contact telephone
        contact_name:
          type: string
          description: Contact person name
        contact_email:
          type: string
          format: email
          description: Contact email
        rubrica_id:
          type: integer
          description: Address book entry ID
        store_rubrica:
          type: boolean
          description: Whether to store in address book

    Package:
      type: object
      required:
        - quantity
        - weight
        - length
        - width
        - height
      properties:
        quantity:
          type: integer
          minimum: 1
          description: Number of packages with these dimensions
          example: 2
        weight:
          type: number
          format: float
          minimum: 0
          description: Weight per package
          example: 10.5
        length:
          type: number
          format: float
          minimum: 0
          description: Length
          example: 50
        width:
          type: number
          format: float
          minimum: 0
          description: Width
          example: 40
        height:
          type: number
          format: float
          minimum: 0
          description: Height
          example: 30

    ShipmentMeta:
      type: object
      required:
        - is_metric
        - date
      properties:
        is_metric:
          type: boolean
          description: Whether measurements are metric (true) or imperial (false)
          example: true
        date:
          type: string
          format: date
          description: Shipment date
          example: "2025-09-30"
        is_doc:
          type: boolean
          description: Whether this is a document shipment
          default: false
        customs_value:
          type: number
          format: float
          description: Customs declared value
          example: 100.00
        is_turnable:
          type: boolean
          description: Whether packages can be turned
          default: false
        is_stackable:
          type: boolean
          description: Whether packages can be stacked
          default: true
        supplements:
          type: object
          description: Additional service supplements
          properties:
            dangerous_goods:
              type: boolean
            residential:
              type: boolean
            pallet:
              type: boolean
            battery:
              type: boolean
            floor_delivery:
              type: boolean
            controlled_temperature:
              type: boolean
            dry_ice:
              type: boolean
            unstackable:
              type: boolean

    RateResponse:
      type: object
      properties:
        rates:
          type: array
          items:
            $ref: '#/components/schemas/Rate'
        shipment_id:
          type: string
          description: Shipment ID if created

    Rate:
      type: object
      properties:
        carrier_code:
          type: string
          description: Carrier/supplier code
        service_code:
          type: string
          description: Service code
        service_name:
          type: string
          description: Service name
        total_price:
          type: number
          format: float
          description: Total price
        currency:
          type: string
          description: Currency code
        transit_time:
          type: integer
          description: Estimated transit time in days
        delivery_date:
          type: string
          format: date
          description: Estimated delivery date

    TrackingResponse:
      type: object
      properties:
        signature:
          type: object
          properties:
            data:
              type: string
              format: date-time
              description: Signature date/time
            signature:
              type: string
              description: Signature image or text
        tracking:
          type: array
          items:
            $ref: '#/components/schemas/TrackingEvent'

    TrackingEvent:
      type: object
      properties:
        description:
          type: string
          description: Event description
        data:
          type: string
          format: date-time
          description: Event timestamp

    # ============================================
    # SHIPMENT SCHEMAS
    # ============================================
    ShipmentListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Shipment'
        pagination:
          $ref: '#/components/schemas/Pagination'

    Shipment:
      type: object
      properties:
        id:
          type: string
          description: Shipment ID
        type:
          type: string
          enum: [cargo, express]
          description: Shipment type
        status:
          type: string
          description: Current status
        origin:
          $ref: '#/components/schemas/ShipmentLocation'
        destination:
          $ref: '#/components/schemas/ShipmentLocation'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ShipmentLocation:
      type: object
      properties:
        airport_code:
          type: string
        country:
          type: string
        city:
          type: string
        address:
          type: string

    CargoQuoteRequest:
      type: object
      required:
        - origin_airport
        - destination_airport
        - packages
      properties:
        origin_airport:
          type: string
        destination_airport:
          type: string
        packages:
          type: array
          items:
            $ref: '#/components/schemas/Package'

    ExpressQuoteRequest:
      type: object
      required:
        - quote_request
      properties:
        quote_request:
          $ref: '#/components/schemas/QuoteRequest'

    QuoteRequestResponse:
      type: object
      properties:
        quote_id:
          type: string
        status:
          type: string
        message:
          type: string

    Service:
      type: object
      properties:
        id:
          type: integer
        code:
          type: string
        name:
          type: string
        description:
          type: string

    CrmShipmentData:
      type: object
      properties:
        customer_name:
          type: string
        customer_email:
          type: string
        customer_phone:
          type: string
        notes:
          type: string

    # ============================================
    # PLACES SCHEMAS
    # ============================================
    PlaceResponse:
      type: object
      description: Google Places API response (structure varies)
      properties:
        candidates:
          type: array
          items:
            type: object
        status:
          type: string

    PlaceDetailResponse:
      type: object
      description: Google Places detail response
      properties:
        result:
          type: object
        status:
          type: string

    # ============================================
    # RUBRICA SCHEMAS
    # ============================================
    RubricaEntry:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        address:
          type: string
        adress:
          type: string
          description: Legacy field (typo in original)
        city:
          type: string
        cap:
          type: string
        country:
          type: string
        telephone:
          type: string
        email:
          type: string
        preferred:
          type: boolean

    # ============================================
    # PROFILE SCHEMAS
    # ============================================
    UserProfile:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
          description: User password (legacy - should be removed)
        name:
          type: string
          description: User name
        enterprise_name:
          type: string
          description: Company name
        rubrica:
          type: object
          properties:
            address:
              type: string
            city:
              type: string
            prov:
              type: string
            country:
              type: string
            airport:
              type: string
            cap:
              type: string
            address_name:
              type: string
            telephone:
              type: string
            email:
              type: string

    # ============================================
    # ADDRESS SCHEMAS
    # ============================================
    AddressInfo:
      type: object
      properties:
        cap:
          type: string
          description: Postal code
        iso:
          type: string
          description: Country ISO code
        id_reg:
          type: string
          description: Region ID
        prov:
          type: string
          description: Province ID
        prov_short:
          type: string
          description: Province abbreviation
        airport:
          type: string
          description: Nearest airport code
        closer_airports:
          type: array
          items:
            $ref: '#/components/schemas/Airport'
        cities:
          type: array
          items:
            type: string
        errors:
          type: array
          items:
            type: string
        provinces:
          type: array
          items:
            $ref: '#/components/schemas/Province'

    # ============================================
    # AI SCHEMAS
    # ============================================
    KnowledgeBase:
      type: object
      description: AI knowledge base categories
      properties:
        categories:
          type: array
          items:
            type: object

    # ============================================
    # COMMERCIAL SCHEMAS
    # ============================================
    CommercialContactListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CommercialContact'
        pagination:
          $ref: '#/components/schemas/Pagination'
        filters:
          type: object
          description: Applied filters

    CommercialContact:
      type: object
      properties:
        id:
          type: integer
        commercial_anagrafiche_id:
          type: integer
        name:
          type: string
        alias:
          type: string
        company_alias:
          type: string
        position:
          type: string
        title:
          type: string
        phone:
          type: string
        cell:
          type: string
        email:
          type: string
          format: email
        country:
          type: string
        note:
          type: string
        stato:
          type: string
        created_by:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        agent_id:
          type: integer
        completed:
          type: boolean
        last:
          type: boolean
        scheduled_contact:
          type: string
          format: date
        next_contact_date:
          type: string
          format: date
        origin:
          type: string
        client_code:
          type: string
        meta_client:
          type: integer
          enum: [0, 1]
        meta_express:
          type: integer
          enum: [0, 1]
        meta_sea_freight:
          type: integer
          enum: [0, 1]
        meta_air_freight:
          type: integer
          enum: [0, 1]
        meta_interested:
          type: integer
          enum: [0, 1]
        meta_reception_required_email:
          type: integer
          enum: [0, 1]
        meta_contact_required_email:
          type: integer
          enum: [0, 1]
        meta_presentation:
          type: integer
          enum: [0, 1]
        meta_EXWORKS:
          type: integer
          enum: [0, 1]
        meta_hight_value_customer:
          type: integer
          enum: [0, 1]
        meta_tutorial:
          type: integer
          enum: [0, 1]
        meta_rejected:
          type: integer
          enum: [0, 1]
        meta_WCA:
          type: integer
          enum: [0, 1]
        meta_exclient:
          type: integer
          enum: [0, 1]
        archiviata:
          type: integer
          enum: [0, 1]
        has_actions:
          type: integer
          enum: [0, 1]

    # ============================================
    # REAL-TIME SCHEMAS
    # ============================================
    RealtimeRequest:
      type: object
      required:
        - origin_airport
        - destination_airport
        - packages
      properties:
        origin_airport:
          oneOf:
            - type: string
            - type: object
              properties:
                sigla:
                  type: string
        origin_country:
          type: string
        destination_airport:
          oneOf:
            - type: string
            - type: object
              properties:
                sigla:
                  type: string
        destination_country:
          type: string
        packages:
          type: array
          items:
            $ref: '#/components/schemas/Package'
        last_acceptance_date:
          type: string
          format: date-time
          description: Last acceptance date (ISO 8601)
        others:
          type: object
          properties:
            assvl:
              type: string
              description: Insurance value currency
              default: EUR
            pickup_range:
              type: object
              properties:
                days:
                  type: integer
                  default: 1
                km:
                  type: integer
                  default: 20
                range:
                  type: integer
                  default: 1

    RealtimeResponse:
      type: object
      properties:
        request_id:
          type: string
        options:
          type: array
          items:
            type: object
        status:
          type: string

    # ============================================
    # QR CODE SCHEMAS
    # ============================================
    QrCodeResponse:
      type: object
      properties:
        qr_code:
          type: string
          description: QR code data (base64 or URL)
        format:
          type: string
          description: Image format
          example: png

    # ============================================
    # REGISTER SCHEMAS
    # ============================================
    UserRegistration:
      type: object
      required:
        - name
        - surname
        - company
        - email
        - phone
      properties:
        name:
          type: string
          description: First name
        surname:
          type: string
          description: Last name
        company:
          type: string
          description: Company name
        vat_number:
          type: string
          description: VAT number
        address:
          type: string
        city:
          type: string
        province:
          type: string
        zip:
          type: string
          description: Postal code
        country:
          type: string
          description: Country ISO code
        email:
          type: string
          format: email
          description: Business email
        phone:
          type: string
          description: Business phone
        personal_email:
          type: string
          format: email
          description: Personal email
        personal_phone:
          type: string
          description: Personal phone
        privacy_note_accepted:
          type: boolean
          description: Privacy policy acceptance

    # ============================================
    # AIRLINE SCHEMAS
    # ============================================
    Airline:
      type: object
      properties:
        code:
          type: string
          description: IATA airline code
          example: LH
        name:
          type: string
          description: Airline name
          example: Lufthansa

    # ============================================
    # COMMON SCHEMAS
    # ============================================
    Pagination:
      type: object
      properties:
        page:
          type: integer
          description: Current page number
        limit:
          type: integer
          description: Items per page
        total:
          type: integer
          description: Total number of items
        pages:
          type: integer
          description: Total number of pages

    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code or type
        message:
          type: string
          description: Human-readable error message
        details:
          type: object
          description: Additional error details

  responses:
    BadRequest:
      description: Bad request - Invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: bad_request
            message: Invalid or missing required parameters

    Unauthorized:
      description: Unauthorized - Authentication required or failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: unauthorized
            message: Authentication required. Please provide a valid access token.

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: not_found
            message: The requested resource was not found

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: internal_error
            message: An internal server error occurred